<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" /> -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Leave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="LEAVE" connectionString="Data Source=.;Initial Catalog=PROJEQTOR-LEAVE;User Id=leave-user;Password=user-leave;" providerName="System.Data.SqlClient" />
    <add name="TIMEATT" connectionString="Data Source=.;Initial Catalog=TIMEATT;User Id=leave-user;Password=user-leave;" providerName="System.Data.SqlClient" />
    <add name="PROJEQTOR" connectionString="Database=projeqtortimesheet2016;server=localhost;User=multiplus;Password=018048484;CHARSET=utf8;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
    <log4net>
        <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="D:\multiplus.co.th\www_aspnet\leave\Log" />
            <datePattern value="'leave-'yyyy-MM-dd'.log'" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingFileAppender" />
        </root>
    </log4net>
  <system.net>
    <mailSettings>
      <smtp from="multiplussmtp@gmail.com" deliveryMethod="Network">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" password="multiplusc#" userName="multiplussmtp@gmail.com" enableSsl="true" />
      </smtp>
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Public/Login" timeout="30" slidingExpiration="true" cookieless="UseCookies" />
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="5"></sessionState>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework> -->
  <applicationSettings>
    <Leave.Properties.Settings>
      <setting name="dbCommandTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="enLocale" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="thLocale" serializeAs="String">
        <value>th-TH</value>
      </setting>
      <setting name="DbServerEncoding" serializeAs="String">
        <value>windows-874</value>
      </setting>
      <setting name="WorkingDirectory" serializeAs="String">
        <value>C:\dev\Web\FingerScan\bin\Debug</value>
      </setting>
      <setting name="EnabledTIMEATTMenuSuite" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ADConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="ADDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="LinkReportExport" serializeAs="String">
        <value>http://porar.wingolfcloud.com:88/AdhocReports/Pages/ReportViewer.aspx?%2fmultiplus%2fleave%2fExport&amp;rs:Command=Render</value>
      </setting>
      <setting name="LinkReportWorkday" serializeAs="String">
        <value>http://porar.wingolfcloud.com:88/AdhocReports/Pages/ReportViewer.aspx?%2fmultiplus%2fleave%2fWorkday&amp;rs:Command=Render</value>
      </setting>
      <setting name="LinkReportForm" serializeAs="String">
        <value>http://porar.wingolfcloud.com:88/AdhocReports?%2fmultiplus%2fleave%2fLeave&amp;rs:Command=Render&amp;rs:Format=HTML4.0&amp;rc:toolbar=false&amp;RequestID=</value>
      </setting>
      <setting name="LinkReportNoEmail" serializeAs="String">
        <value>http://porar.wingolfcloud.com:88/AdhocReports/Pages/ReportViewer.aspx?%2fmultiplus%2fleave%2fNoEmail&amp;rs:Command=Render</value>
      </setting>
      <setting name="DefaultEmailDomain" serializeAs="String">
        <value>multiplus.co.th</value>
      </setting>
      <setting name="AttachFilePath" serializeAs="String">
        <value>D:\multiplus.co.th\www_aspnet\leave_uploadfiles</value>
      </setting>
      <setting name="Policy_Quota_StartingMonth" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Policy_PreDays_Maternity" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Policy_PreDays_Initiation" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Policy_PreDays_Celebratehullvalley" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Policy_PreDays_Education" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Policy_PreDays_Sterilization" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Policy_PreDays_Wedding" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Policy_SickHours_MaxContinuous" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="Policy_WorkHours_PerDay" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Policy_Bcc_LeaveApproved" serializeAs="String">
        <value>multiplussmtp@gmail.com</value>
      </setting>
      <setting name="Policy_Default_MorningUntilOClock" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="Policy_Default_NoonBeginOClock" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="InternetBasedUrl" serializeAs="String">
        <value>http://www.multiplus.co.th:81/leaveonline</value>
      </setting>
      <setting name="Policy_QuotaVacation_StartingMonth" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Policy_MinWorkMonths_Vacation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Policy_PreDays_Business" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Policy_PreDays_Vacation" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Policy_Default_MorningBeginOClock" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="Policy_Default_NoonUntilOClock" serializeAs="String">
        <value>18</value>
      </setting>
    </Leave.Properties.Settings>
  </applicationSettings>
</configuration>