<style type="text/css">
	.toc table th, .toc table td {
		padding-top: 2px;
		padding-bottom: 2px;
		font-size: 14px !important;
		font-family: Arial,sans-serif !important;
	}
	div.toc-header {
		padding-top: 10px;
		text-align: center;
		padding-bottom: 10px;
		font-size: 20px !important;
		border-radius: 6px 6px 0 0 !important;
		-moz-border-radius: 6px 6px 0 0 !important;
		-webkit-border-radius: 6px 6px 0 0 !important;
	}
	div.toc-content {
		font-size: 14px !important;
		font-family: Arial,sans-serif !important;
	}
	.smaller {
		font-size: 11px !important;
	}
</style>
<div style="width:100%;height:100%;">
	<div class="toc">
		<div class="toc-header">
			<div>ระเบียบการปฏิบัติและโทษทางวินัย ในการปฏิบัติงาน</div>
			<div style="height:10px;"></div>
			<div>ของกลุ่มบริษัท วีรสุ กรุ๊ป จำกัด และในเครือบริษัทฯ</div>
		</div>
		<div class="toc-content">
			<table class="twelve">
				<tbody>
					<tr>
						<td><span style="padding-left:50px;"></span>บริษัทฯ จัดให้มีระเบียบข้อบังคับการทำงาน โดยมีวัตถุประสงค์เพื่อให้พนักงานของบริษัทฯ ได้ยึดถือปฎิบัติ ตลอดจนตระหนักถึงหน้าที่ความรับผิดชอบของตนเอง การฝ่าฝืนระเบียบบริษัทฯ ในการปฎิบัติงาน การหยุดงาน หรือ การแจ้งข้อความที่เป็นเท็จต่อผู้บังคับบัญชา เพื่อที่จะได้รับการอนุญาตให้ลาหยุดงานนั้น ถือเป็นความผิดทางวินัย จึงถือเป็นสิ่งที่พนักงานทุกคนต้องยึดถือและปฎิบัติอย่างเคร่งครัด</td>
					</tr>
				</tbody>
			</table>
			<div style="height:20px;"></div>
			<table class="twelve">
				<thead>
					<tr>
						<th colspan="3" style="text-align:left;"><span class="smaller">1.</span>&nbsp;&nbsp;เวลาปฎิบัติงาน</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width:15px;">&nbsp;</td>
						<td colspan="2"><span class="smaller">1.1</span> พนักงานต้องลงบันทึกการเข้า <span class="smaller">–</span> ออก ปฎิบัติงานตามที่บริษัทได้จัดให้คือ</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td style="width:20px;">&nbsp;</td>
						<td>เวลาเข้างาน <span class="smaller">9.00</span> น<span class="smaller">.</span> เวลาออกงาน <span class="smaller">18.00</span> น<span class="smaller">.</span></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>เวลาเข้างาน <span class="smaller">10.00</span> น<span class="smaller">.</span> เวลาออกงาน <span class="smaller">19.00</span> น<span class="smaller">.</span></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">1.2</span> พนักงานที่บันทึกเวลา <span class="smaller">9.00</span> น<span class="smaller">.</span> หรือหลังเวลา <span class="smaller">9.00</span> น<span class="smaller">.</span> หรือหลังเวลา <span class="smaller">10.00</span> น<span class="smaller">.</span> ถือเป็นการมาสาย</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">1.3</span> พนักงานมาเข้างานหลังเวลาเริ่มงานตั้งแต่ครึ่งชั่วโมงเป็นต้นไปให้เขียนใบลาหยุดงามตามจำนวนเวลาหลังเริ่มงานและนำเสนอหัวหน้างาน หรือเสนอผู้บังคับบัญชาและส่งใบลาที่ฝ่ายบุคคล</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">1.4</span> พนักงานที่บันทึกเวลาก่อนเวลาเลิกงาน ตั้งแต่ครึ่งชั่วโมงเป็นต้นไปให้เขียนใบลาหยุดงานตามจำนวนเวลาก่อนเวลาเลิกงานและนำเสนอหัวหน้างาน หรือผู้บังคับบัญชาและส่งใบลาที่ฝ่ายบุคคล</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">1.5</span> หากการเลิกงานก่อนเวลางานปกติ โดยไม่มีใบลาหยุด<span class="smaller">/</span>หรือ ใบชี้แจงในการปฎิบัติงานนอกสถานที่ที่อนุมัติโดยหัวหน้างาน หรือผู้จัดการฝ่ายจุถือว่าเป็นการขาดงาน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">1.6</span> พนักงานที่มาทำงานสาย <span class="smaller">4</span> ครั้ง จะถือว่าพนักงานขาดงาน <span class="smaller">1</span> วัน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>พนักงานที่มาทำงานสายเกิน <span class="smaller">36</span> ครั้ง ต่อปีปฎิทิน ให้เลื่อนการพิจารณาขึ้นเงินเดือนประจำ <span class="smaller">3</span> เดือน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>พนักงานที่มาทำงานสายเกิน <span class="smaller">48</span> ครั้ง ต่อปีปฎิทิน ให้เลื่อนการพิจารณาขึ้นเงินเดือนประจำ <span class="smaller">4</span> เดือน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>พนักงานที่มาทำงานสายเกิน <span class="smaller">60</span> ครั้ง ต่อปีปฎิทิน ให้เลื่อนการพิจารณาขึ้นเงินเดือนประจำ <span class="smaller">6</span> เดือน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>พนักงานที่มาทำงานสายเกิน <span class="smaller">72</span> ครั้ง ต่อปีปฎิทิน ให้งดการขึ้นเงินเดือนประจำปี</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">1.7</span> พนักงานที่มาสายและถูกตักเตือนเป็นลายลักษณ์อักษร <span class="smaller">3</span> ครั้งใน <span class="smaller">1</span> ปี จำถือว่าพนักงานผู้นั้นฝ่าฝืนข้อบังคับเกี่ยวกับการทำงานของนายจ้าง อันชอบด้วยกฎหมาย บริษัทฯ มีสิทธิ์พิจารณาปลดพนักงานออกจากการเป็นพนักงานของบริษัทฯ โดยไม่ต้องรับผิดชอบค่าชดเชยใดๆ ทั้งสิน</td>
					</tr>
				</tbody>
			</table>
			<div style="height:20px;"></div>
			<table class="twelve">
				<thead>
					<tr>
						<th colspan="3" style="text-align:left;"><span class="smaller">2.</span>&nbsp;&nbsp;วันลาและหลักเกณฑ์การลา</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width:15px;">&nbsp;</td>
						<td colspan="2"><span class="smaller">2.1</span> การลาป่วย</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td style="width:20px;">&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานมีสิทธิลาป่วยโดยได้รับค่าจ้างเท่ากับวันทำงานปกติปีหนึ่งไม่เกิน <span class="smaller">30</span> วันทำงาน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานที่ต้องการลาเนื่องจากป่วย ต้องแจ้งให้ผู้บังคับบัญชารับทราบโดยเร็วที่สุดด้วยวิธีใดวิธีหนึ่ง และจะต้องยื่นใบลาให้ผู้บังคับบัญชาอนุมัติในวันแรกของการกลับมาทำงาน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> การลาป่วยติดต่อกันตั้งแต่ <span class="smaller">3</span> วันทำงานขึ้นไป พนักงานต้องนำใบรับรองแพทย์มาแสดงต่อผู้บังคับบัญชาพร้อมใบลา</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> การลาป่วยเนื่องจากการทำงาน พนักงานสามารถลาหยุดงานได้ตามความจำเป็น โดยต้องได้รับการวินิจฉัยโรคหรืออาการเจ็บป่วยนั้นโดยนายแพทย์</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">2.2</span> การลากิจ</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานที่ต้องการลากิจจะต้องยื่นใบลาต่อผู้บังคับบัญชารับทราบก่อน ล่วงหน้าอย่างน้อย <span class="smaller">1</span> วัน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานมีสิทธิลากิจได้ในกรณีที่มีความจำเป็นจริงๆ โดยได้รับค่าจ้างตามปกติเป็นเวลา <span class="smaller">7</span> วันทำงาน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> กรณีฉุกเฉินที่พนังการไม่สามารถยื่นใบลากิจล่วงหน้าได้ ให้พนักงานแจ้งผู้บังคับบัญชาโดยตรงโดยวิธีใดวิธีหนึ่งทันที <span class="smaller">(</span>เฉพาะกรณีฉุกเฉินที่เห็นสมควรเท่านั้น<span class="smaller">)</span> หากพนักงานต้องหยุดงานไปโดยไม่แจ้งให้ผู้บังคับบัญชาทราบ จะถือเป็นการละทิ้งหน้าที่ พนักงานจะไม่ได้รับค่าจ้าง และจะถูกพิจารณาความผิดทางวินัยของบริษัทฯ</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">2.3</span> การลาคลอดบุตร</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานที่ต้องการลาลาคลอดบุตรจะต้องยื่นใบลาต่อผู้บังคับบัญชารับทราบก่อน ล่วงหน้าอย่างน้อย <span class="smaller">30</span> วัน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานซึ่งเป็นหญิงมีครรภ์มีสิทธิลาเพื่อคลอดบุตรได้ครรภ์หนึ่งไม่เกิน <span class="smaller">90</span> วัน ทั้งนี้ จะนับรวมวันหยุดประจำสัปดาห์และวันหยุดตามประเพณีที่มีระหว่างวันลาด้วย โดยจะได้รับค่าจ้างเท่ากับค่าจ้างในวันทำงานตลอดระยะเวลาที่ลาแต่รวมแล้ว ไม่เกิน <span class="smaller">45</span> วัน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> ในกรณีที่พนักงานหญิงไม่สามารถกลับเข้าทำงานตามปกติ เมื่อครบกำหนดคลอดบุตร <span class="smaller">90</span> วัน แล้ว ซึ่งมีผลสืบเนื่องมาจากการคลอดบุตร โดยความเห็นของแพทย์และมีใบรับรองแพทย์มาแสดง พนักงานผู้นั้นมีสิทธิลาหยุดต่อไปได้อีก <span class="smaller">30</span> วัน รวมทั้งวันหยุด โดยไม่ได้รับค่าจ้างหรือเงินเดือน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">2.4</span> การลาอุปสมบท</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานที่ต้องการลาอุปสมบทจะต้องยื่นใบลาต่อผู้บังคับบัญชารับทราบก่อน ล่วงหน้าอย่างน้อย <span class="smaller">30</span> วัน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานที่ปฏิบัติงานมาแล้วอย่างน้อย <span class="smaller">1</span> ปี มีสิทธิลาอุปสมบทหรือลาเพื่อประกอบศาสนกิจ เช่น ประกอบพิธีฮัจย์ ได้ไม่เกิน <span class="smaller">120</span> วันรวมทั้งวันหยุด โดยได้รับค่าจ้างเพียง <span class="smaller">15</span> วันทำงาน สิทธิการลาอุปสมบท และการลาเพื่อปฏิบัติศาสนกิจนี้มีเพียง <span class="smaller">1</span> ครั้ง ตลอดระยะเวลาที่ทำงานกับบริษัทฯ</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">2.5</span> การลาเพื่อการสมรส</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานที่ต้องการลาเพื่อการสมรสจะต้องยื่นใบลาต่อผู้บังคับบัญชารับทราบก่อน ล่วงหน้าอย่างน้อย <span class="smaller">30</span> วัน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานที่ได้รับการบรรจุแล้ว มีสิทธิลาสมรสโดยได้รับค่าจ้างเป็นเวลา <span class="smaller">3</span> วันทำงาน โดยไม่รวมวันหยุดประจำสัปดาห์และวันหยุดตามประเพณี สิทธินี้ใช้ได้เพียงครั้งเดียวตลอดระยะเวลาที่ทำงานกับบริษัทฯ</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">2.6</span> การลาเพื่อการทำหมัน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานที่ต้องการลาเพื่อการทำหมันจะต้องยื่นใบลาต่อผู้บังคับบัญชารับทราบก่อน ล่วงหน้าอย่างน้อย <span class="smaller">7</span> วัน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานมีสิทธิลาเพื่อทำหมันได้ และมีสิทธิลาตามระยะเวลาที่แพทย์กำหนดและออกใบรับรอง โดยได้รับค่าจ้าง</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2"><span class="smaller">2.7</span> การลาเพื่อการฝึกอบรม</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานที่ต้องการลาเพื่อการฝึกอบรมจะต้องยื่นใบลาต่อผู้บังคับบัญชารับทราบก่อน ล่วงหน้าอย่างน้อย <span class="smaller">7</span> วัน</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><span class="smaller">-</span> พนักงานมีสิทธิลาเพื่อการฝึกอบรมและพัฒนาความรู้ ความสามารถในกรณี เพื่อเพิ่มทักษะความชำนาญ หรือเพื่อ
เพิ่มประสิทธิภาพในการทำงานของพนักงาน โดยมีโครงการหรือหลักฐาน และกำหนดช่วงเวลาของโครงการหรือหลักสูตรที่แน่นอนชัดเจน</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>